@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-surface: #90bbe6ff;
  --color-primary: #dae4f4;
  --color-base: #fcfcfc;
  --color-border: #9f9f9f;
  --color-cancel: #9f9f9f1f;
  --color-accent: #265585ff;
  --color-btn-newcard: #2e73b8ff;

  --font-heading: "Fraunces", "Helvetica Neue", Arial, sans-serif;
  --font-body: "Poppins", "Helvetica", Arial, sans-serif;

  --gap-sm: 0.5rem;
  --gap-md: 1rem;
  --gap-lg: 2rem;

  --margin-sm: 0.5rem;
  --margin-md: 1rem;
  --margin-lg: 2rem;

  --border-radius-sm: 0.5rem;
  --border-radius-md: 1rem;
  --border-radius-lg: 2rem;

  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 2rem;

  --left-sm: 0.75rem;

  --font-size-sm: 0.85rem;
  --font-size-md: 1.5rem;
  --font-size-lg: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-surface);
}

h1,
h2 {
  font-family: var(--font-heading);
}

h1 {
  padding: var(--padding-sm) var(--padding-md);
  font-size: var(--font-size-lg);
}
h2 {
  text-align: center;
  width: 100%;
  font-size: var(--font-size-md);
}

section > div:first-child {
  display: flex;
  border: 1px solid var(--color-border);
  padding: var(--padding-sm);
  background-color: var(--color-primary);
  border-radius: var(--border-radius-sm);
  margin-bottom: var(--margin-sm);
  box-shadow: 1px 2px 4px #0000001f;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 490px);
  grid-auto-rows: auto;
  gap: var(--gap-md);
  padding: var(--padding-sm) var(--padding-sm);
  width: 100%;
  height: 90%;
  margin-left: var(--margin-sm);
}

section {
  background-color: var(--color-base);
  border-radius: var(--border-radius-md);
  min-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  gap: var(--gap-sm);
  padding: var(--padding-md);
  font-family: var(--font-body);
}

.card-container {
  display: flex;
  flex: 1 1 auto;
  min-height: 0;
  flex-direction: column;
  gap: var(--gap-md);
  width: 100%;
}

article {
  display: flex;
  position: relative;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-sm);
  padding: var(--padding-sm);
  box-shadow: 1px 2px 4px #0000001f;
  cursor: grab;
  background-color: var(--color-base);
  transition: border 0.5s ease-in, background-color 0.5s ease-in;
  max-height: 5rem;
  min-height: 5rem;
}

article:hover {
  border: 1px solid var(--color-accent);
  transition: border 0.5s ease-in;
  background-color: var(--color-primary);
}

/* Cards parragraph container y paragraph*/
article > div:first-child {
  width: 100%;
  position: relative;
  left: var(--left-sm);
  transition: left 0.5s ease-in 0.4s;
  font-size: var(--font-size-sm);
  min-width: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

article:hover > div:first-child {
  position: relative;
  left: 0;
  transition: left 0.5s ease-in;
}

article > div:first-child p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2rem;
}

/* Close Cards */
article > div:last-child span {
  margin-top: var(--margin-sm);
  transition: margin-top 0.5s ease-in;
  opacity: 0;
  transition: margin-top 0.5s ease-in, color 0.5s ease-in,
    opacity 0.6s ease-in 0.2s;
}
article > div:last-child span:hover {
  color: var(--color-accent);
  transition: color 0.5s ease-in;
  cursor: pointer;
}
article:hover > div:last-child span {
  opacity: 1;
}

/* Add Card Button */
.add-card-btn {
  border: none;
  border-radius: var(--border-radius-sm);
  background-color: var(--color-base);
  transition: background-color 0.5s ease-in;
  cursor: pointer;
  padding: var(--padding-sm);
}
.add-card-btn::before {
  content: "+";
  margin-right: var(--margin-sm);
}

.add-card-btn:hover {
  background-color: var(--color-primary);
  transition: background-color 0.5s ease-in;
}

/* New cards areas y buttons */
#section-1 > div:last-child {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  width: 100%;
}

.new-card-bnt-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.new-card-bnt-container > button {
  border: 1px solid black;
  border-radius: var(--border-radius-sm);
  background-color: var(--color-btn-newcard);
  transition: background-color 0.5s ease-in;
  color: var(--color-base);
  box-shadow: 2px 2px 3px #0000001f;
  padding: var(--padding-sm) var(--padding-md);
}

.add-new-card-btn:hover {
  background-color: var(--color-accent);
  transition: background-color 0.5s ease-in;
}

.close-btn {
  cursor: pointer;
  background-color: var(--color-base);
  border-radius: 10%;
  padding: var(--padding-sm);
  color: black;
  transition: background-color 0.5s ease-in 0.2s, color 1s ease-in;
}
.close-btn:hover {
  cursor: pointer;
  background-color: var(--color-cancel);
  color: var(--color-accent);
}

textarea {
  width: 100%;
  height: 5rem;
  border: 2px solid var(--color-border);
  transition: border 0.5s ease-in;
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-sm);
  resize: none;
  padding: var(--padding-sm);
}

textarea:focus {
  outline: none;
  border: 2px solid var(--color-accent);
}
